Repository abuadan/monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black, ruff, update-deleted-packages

autoflake:
  name: autoflake
  stages:
  - commit
  language: system
  entry: autoflake
  args:
  - --in-place
  - --remove-all-unused-imports
  - --remove-unused-variables
  - --ignore-init-module-imports

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: isort
  args:
  - --profile
  - black
  - --project
  - app
  - --filter-files

black:
  name: black
  stages:
  - commit
  language: system
  entry: black

ruff:
  name: ruff
  entry: ruff
  language: system
  require_serial: true

update-deleted-packages:
  name: Update deleted packages
  language: system
  entry: bazel run @rules_bazel_integration_test//tools:update_deleted_packages
  pass_filenames: false

Update Dependencies
  BUILD.bazel
  python/BUILD.bazel
Due: none

Add new functionality to dataplatform, create new make file
  Makefile
  python/BUILD.bazel
  python/MODULE.bazel
  python/defs.bzl
  python/gazelle_python.yaml
  python/poetry.lock
  python/private/BUILD
  python/private/pytest.bzl
  python/pyproject.toml
  python/src/dataplatform/BUILD
  python/src/dataplatform/compute/__init__.py
  python/src/dataplatform/compute/base.py
  python/src/dataplatform/compute/schema/__init__.py
  python/src/dataplatform/compute/schema/schema.py
  python/src/dataplatform/execution/BUILD
  python/src/dataplatform/execution/__init__.py
  python/src/dataplatform/execution/client/BUILD
  python/src/dataplatform/execution/client/__init__.py
  python/src/dataplatform/execution/pipeline/__init__.py
  python/src/dataplatform/execution/pipeline/graph.py
  python/tests/dataplatform/BUILD
  python/tests/dataplatform/execution/BUILD
  python/tests/dataplatform/execution/pipeline/BUILD
  python/tests/dataplatform/execution/pipeline/test_graph.py
Due: autoflake, isort, black, ruff

Update bazel setup
  .bazelrc
  .bazelversion
  BUILD.bazel
  MODULE.bazel
Due: update-deleted-packages

Update bazel python rules, add testing functionality
  MODULE.bazel
  Makefile
  python/BUILD.bazel
  python/pyproject.toml
  python/pytest.ini
  python/ruff.toml
  python/tests/dataplatform/execution/pipeline/test_graph.py
  rust/.rustfmt.toml
  rust/MODULE.bazel
Due: autoflake, isort, black, ruff

Update python setup to use setuptools, fix pyproject.toml
  python/BUILD
  python/BUILD.bazel
  python/gazelle_python.yaml
  python/poetry.lock
  python/pyproject.toml
  python/requirements.in
  python/requirements.lock
  python/src/BUILD
Due: none

Update Build rules, and fix jvm folder
  BUILD.bazel
  MODULE.bazel
  jvm/BUILD
  jvm/MODULE.bazel
Due: none

Setup monorepo, add some python files and update jvm stuff
  .bazelrc
  .gitignore
  .pre-commit-config.yaml
  BUILD.bazel
  MODULE.bazel
  go/BUILD
  go/def.bzl
  go/deps.bzl
  go/go.mod
  go/go.sum
  jvm/maven_install.json
  python/BUILD
  python/Makefile
  python/gazelle_python.yaml
  python/poetry.lock
  python/poetry.toml
  python/pyproject.toml
  python/requirements.in
  python/requirements.lock
  python/requirements.txt
  python/src/dataplatform/__init__.py
  python/src/dataplatform/compute/BUILD
  python/src/dataplatform/compute/base.py
  python/src/dataplatform/compute/schema/__init__.py
  python/src/dataplatform/compute/sql/BUILD
  python/src/dataplatform/execution/pipeline/BUILD
  python/src/dataplatform/storage/BUILD
  python/tests/dataplatform/execution/pipeline/BUILD
  rust/BUILD.bazel
  rust/Cargo.bazel.lock
  rust/Cargo.lock
  rust/MODULE.bazel
  rust/build.rs
  rust/cargo.toml
  rust/sqlinguist/Cargo.toml
  rust/sqlinguist/src/lib.rs
  rust/src/lib.rs
Due: autoflake, isort, black, ruff, update-deleted-packages

Setup formatting and fix up bazel dependecies
  .bazelrc
  BUILD.bazel
  MODULE.bazel
  REPO.bazel
  python/BUILD
  tools/BUILD.bazel
  tools/format/BUILD.bazel
  tools/lint/Build.bazel
  tools/lint/linters.bzl
  tools/toolchains/BUILD.bazel
  tools/tools.lock.json
Due: update-deleted-packages

Setup formatting and fix up bazel dependecies
  .gitignore
Due: none

Fix broken build, skeleton repo now build
  .bazelrc
  MODULE.bazel
  Makefile
  bazel/toolchains/pkgconfig/BUILD
  gazelle_python.yaml
  python/Makefile
  python/requirements.lock
  python/test.in
  rust/src/lib.rs
Due: update-deleted-packages

Updated packages across repo
  MODULE.bazel
  go.mod
  maven_install.json
  rust/Cargo.lock
  rust/cargo.toml
  rust/crates/SQLinguist/src/lib.rs
Due: none

Path conditions:
  autoflake: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  ruff: any of: \.py$
  update-deleted-packages: any of: ^((examples|tests)/.*/(MODULE.bazel|WORKSPACE|WORKSPACE.bzlmod|BUILD.bazel)|.bazelrc)$
